.header {
  background-color: #21242d;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  color: #fff;
  display: flex;
  align-items: center;
  left: 0;
  min-height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1100;
}
